.slide-one {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(245, 246, 252),
      rgba(246, 241, 245, 0.034)
    ),
    url("https://i.ibb.co/8Yzkj8M/img4.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-two {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(245, 246, 252),
      rgba(246, 241, 245, 0.034)
    ),
    url("https://i.ibb.co/c3nh7N9/img3.webp");
  background-repeat: no-repeat;
  background-size: cover;
}
.slide-three {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      rgb(245, 246, 252),
      rgba(246, 241, 245, 0.034)
    ),
    url("https://i.ibb.co/VM2QSp1/img1.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

.slick-slide{
  padding: 0px !important;
}

.slick-slide img {
  max-width: 100%;
}

.slick-list {
  margin: 0px !important;
}



@media only screen and (min-width: 600px) {
  .cartIndex{
      margin-top: -90px;
  }
  }
@media only screen and (max-width: 600px) {
  .cartIndex{
      margin-top: -70px;
  }
  }