.hoverDIv:hover .showDIv {
  margin-top: -9rem;
}

.zoom {
  padding: 25px 26px;
  max-width: 100%;
  height: 50%;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  
  
}

.zoomDiv:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  
}

.zoomDiv{
  position: relative;
  overflow: hidden;
  
}

